*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #C0FFFB;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
}

h1{
    color: #284E78;
    margin-bottom: 5px;
    font-family: 'Josefin Slab', serif;
}

h2{
    color: #284E78;
    font-family: 'Courgette', cursive;
}

h3{
    color: #284E78;
    font-family: 'Courgette', cursive;
}

.dev{
    color: #284E78;
    margin-top: 5px;
    font-family: 'Courgette', cursive;
}

.circuler{
    border-radius: 180px;
    margin-top: 80px;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: 3px solid black;
}

.circuler:hover{
    width: 40%;
}

hr{
    border-style: dotted;
    border-bottom: 0px;
    width: 70%;
    border-color: #4B778D;
}

.bg-img{
    width: 100%;
    height: 34%;
    margin-left: 0px;
    margin-right: 0px;
    opacity: 65%;
}

.cloud{
    width: 120px;
    opacity: 45%;
    position: relative;
    left: 120px;
}

.cloud2{
    width: 120px;
    margin: 0px 100px 30px 100px;
    opacity: 45%;
    margin-top: 20px;
    position: relative;
    right: 120px;
}

.htmlogo{
    width: 20%;
    float: left;
    border-radius: 180px;
    margin-right: 20px;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.clogo{
    width: 20%;
    float: right;
    border-radius: 180px;
    margin-right: 20px;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.js{
    width: 20%;
    float: left;
    border-radius: 180px;
    margin-right: 20px;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.skill-row{
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    width: 60%;
}

.bottom-container{    
    background-color: #193498;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 2;
    color: #00FFAB;
}

.btn {
    background: #34d9d3;
    background-image: -webkit-linear-gradient(top, #34d9d3, #06507d);
    background-image: -moz-linear-gradient(top, #34d9d3, #06507d);
    background-image: -ms-linear-gradient(top, #34d9d3, #06507d);
    background-image: -o-linear-gradient(top, #34d9d3, #06507d);
    background-image: linear-gradient(to bottom, #34d9d3, #06507d);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #00ff00;
    background-image: -webkit-linear-gradient(top, #00ff00, #046320);
    background-image: -moz-linear-gradient(top, #00ff00, #046320);
    background-image: -ms-linear-gradient(top, #00ff00, #046320);
    background-image: -o-linear-gradient(top, #00ff00, #046320);
    background-image: linear-gradient(to bottom, #00ff00, #046320);
    text-decoration: none;
  }

  .contact-me{
      margin: 10px auto 40px auto;
  }

  .bt{
      margin-bottom: 40px;
  }

  a{
      text-decoration: none;
      color: #C0FFFB;
  }

  a:hover{
      color: #D2F5E3;
  }

  hel{
      margin-top: 40px;
  }

